<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <i class='bx bx-box'></i> 
            Gstock
        </li>
        <li>
            <a routerLink="dashboard">
                <i class="fas fa-plus"></i> 
                Acceuil
            </a>
        </li>
        <li>
            <a routerLink="new-article">
                <i class="fas fa-plus"></i> 
                Ajouter un article au stock
            </a>
        </li>
        <li>
            <a routerLink="new-stock-movement">
                <i class="fas fa-plus"></i> 
                Ajouter un mouvement
            </a>
        </li>
        <li>
            <a routerLink="nouveau-service">
                <i class="fas fa-plus"></i> 
                Ajouter un service
            </a>
        </li>
        <li>
            <a routerLink="nouvlle-subdivision">
                <i class="fas fa-plus"></i> 
                Ajouter une subdivision
            </a>
        </li>
        <li>
            <a routerLink="">
                <i class="fas fa-eye"></i> 
                Voir le stock initial
            </a>
        </li>
        <li>
            <a routerLink="final-stock">
                <i class="fas fa-eye"></i> 
                Voir stock final
            </a>
        </li>
        <li>
            <a routerLink="stock-movements">
                <i class="fas fa-eye"></i> 
                Voir tous les mouvements
            </a>
        </li>
        <li>
            <a routerLink="enteties">
                <i class="fas fa-eye"></i> 
                Voir les services
            </a>
        </li>
    </ul>
</div>
